html,
body {
	margin: 0;
	font: sans-serif;
}

body {
	
}

.sidebar {
	width: 20%;
	background-color: #cfcfcf;
}

.footer {
	background-color: #a9a8a8;
	overflow: hidden;
	width: 100%;
}

.footer .padding {
	padding: 20px;
}

.footer a {
	color: #000000;
	text-decoration: none;
	font-size: 18px;

}
.footer ul.menu {
	padding: 0;
}

.footer ul.menu li {
	display: inline-block;
	margin-right: 10px;
}

.header {
	overflow: hidden;
	z-index: 1;
	width: 100%;
	margin: 0;
	background-color: #000000;
} 

.header h1 {
	color: #ffffff;
	margin-left: 20px;
}

.header a {
	color: #ffffff;
	text-align: left;
	padding: 20px;
	text-decoration: none;
	font-size: 24px;
}

.header ul.menu li {
	display: inline-block;
}

.content {
	background-color: red;
	flex: 1;
	width: 80%;
}

.content-sidebar {
	display: flex;
}